//----------- Colors -----------//
//--- Standard Colors
$white: #fff;
$black: #000;

//--- Primary Colors
$background-color: #FCFCFC;
$border-color: #DFDFDF;
$primary-font-color: #4A4A4A;
$secondary-font-color: #95999D;

//----------- Spacing -----------//
$body-space: 30px;
